body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    color: #201b2d;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}

p{
    color: #2C1500;
}

.container{
    width: 1280px;
    display: block;
}

.left{
    background: url(./img/pexels-cottonbro-4503751\ 1.png);
    position: absolute;
    width: 608px;
    height: 740px;
    left: 0px;
    top: 0px;
    display: block;
}

.icon{
    position: static;
    width: 36px;
    height: 36px;
    left: 0px;
    top: 0px;
    margin-left: 56px;
    margin-top: 40px;
}

.button{
    background-color: #156963;
    color: #fff;
    position: static;
    width: 111px;
    height: 36px;
    left: 0px;
    top: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border: 0px;
    margin-right: 56px;
    margin-top: 40px;
}

.rigth{
    position: absolute;
    background: #FFFFFF;
    display: block;
    width: 672px;
    height: 582px;
    left: 608px;
    top: -7px;
    text-align: right;
}

.prew{
    text-align: left;
    display: block;
    margin-left: 72px;
    margin-top: 110px;
}

.rigth h1{
    color: #156963;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
    line-height: 82.89px;
    margin-bottom: 24px;
}

.rigth p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2C1500;
    opacity: 0.8;
}

.selector-left{
    position: absolute;
    width: 293px;
    height: 160px;
    text-align: left;
    margin-left: 86px;
    margin-top: 130px;
    display: block;
}

.selector-left h3{
    position: static;
    left: 40px;
    top: 1.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
    float: left;
    margin-bottom: 1,5px;
    margin-top: 1,5px;
}

.vector{
    position: static;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    float: left;
}

.selector-left h2{
    margin-top: 34px;
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #156963;
}

.selector-rigth{
    width: 320px;
    height: 160px;
    left: 960px;
    top: 582px;
    background: #156963;
    margin-left: 352px;
    margin-top: 130px;
}

.selector-rigth h3{
    position: static;
    width: 57px;
    height: 29px;
    left: 0px;
    top: 1.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 8px;
    float: left;
    margin-left: 49px;
    margin-bottom: 0px;
    margin-top:20px;
}

.vector-r{
    float: left;
    margin-top: 20px;
    position: static;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.selector-rigth h2{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 53px;
    margin-left: 49px;
}

.midl{
    width: 1280px;
    display: block;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1168px;
    height: 155px;
    left: 56px;
    top: 882px;
    margin-left: 56px;
    margin-right: 56px;
}

.column{
    position: static;
    width: 268px;
    height: 155px;
    left: 0px;
    top: 0px;
    float: left;
    border: 1px solid #E0E0E0;
    margin-bottom: 80px;
}

.pic{
    float: left;
    position: absolute;
    margin-top: 30px;
    width: 48px;
    height: 48px;
    margin-left: 16px;
}

.row h2{
    position: absolute;
    width: 137px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
    margin-left: 96px;
    top: 22px;
}

.row p{
    margin-top: 86px;
    position: absolute;
    width: 236px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #2C1500;
    margin-left: 16px;
}

.col1{
    margin-right: 32px;
}
.col2{
    margin-right: 32px;
}
.col3{
    margin-right: 32px;
}

.bottom{
    position: absolute;
    width: 1168px;
    height: 352px;
    left: 56px;
    top: 1117px;
}

.wraper{
    
}